@import "../../vars.scss";

#research-network {
	margin-top: 110px;
	font-family: var(--font-archia), sans-serif;

	.ant-col {
		width: 100%;
	}

	.header {
		background: #E9F4F3;
		padding: 40px 150px;
		display: flex;
		align-items: center;
		gap: 40px;

		h3 {
			font-weight: 600;
			font-size: 28px;
			line-height: 29px;
			color: #000;
			font-family: var(--font-archia), sans-serif;

			@media screen and (max-width: $bpMobile) {
				font-size: 24px;
			}
		}

		p {
			font-weight: 500;
			font-size: 18px;
			line-height: 29px;
			color: #000;
			margin-bottom: 0;
			font-family: var(--font-archia), sans-serif;
		}

		.call-to-action {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			text-align: right;
			min-width: 400px;

			h3 {
				font-family: var(--font-archia), sans-serif;
			}
		}

		@media screen and (max-width: $bpMobile) {
			padding: 20px;
			display: block;

			.call-to-action {
				min-width: 100%;
				text-align: center;
				align-items: center;
				padding-top: 20px;
			}
		}
	}

	.profile-section {
		padding: 80px 150px;

		@media screen and (max-width: $bpMobile) {
			padding: 40px 20px;
		}

		.ant-card-body {
			padding: 0px;
		}

		.ui {
			&.container {
				margin: 0;
			}
		}

		.profiles-grid {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px;

			@media (max-width: 768px) {
				grid-template-columns: 1fr;
			}

			@media (min-width: 1200px) {
				gap: 24px;
			}
		}

		.profile-details {
			border: none;
			width: 100%;
			height: 100%;

			.ant-row {
				padding: 16px 16px 11px;
				flex-wrap: nowrap;
				display: flex;
				flex-direction: column;
			}

			h4 {
				font-weight: 600;
				font-size: 28px;
				line-height: 40px;
				color: #000000;
				font-family: var(--font-archia), sans-serif;
				margin-bottom: 0;

				@media screen and (max-width: $bpMobile) {
					font-size: 24px;
				}
			}

			p {
				margin-bottom: 0;
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				color: #000000;
			}

			.meta {
				margin: 8px 0;
				font-weight: 500;
				font-size: 16px;

				svg {
					transform: translateY(4px);
					margin-right: 7px;
				}

				&.loc {
					span {
						opacity: 0.4;
						text-transform: uppercase;
					}
				}

				&.contact {
					display: flex;
					align-items: center;
					gap: 10px;

					a {
						button {
							text-decoration: none;
							color: $green07;

							&:hover {
								text-decoration: underline;
							}
						}
					}

					.dot {
						font-size: 20px;
					}

					.ant-btn {
						text-transform: uppercase;
						font-weight: 550;
					}
				}
			}
		}
	}
}