@import '../../styles/vars.scss';

.filterBar {
	background-color: #fff;
	height: 95px;
	display: flex;
	align-items: center;
	margin: 5px 15px;
	:global {
		ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			margin-right: 15px;
			margin-left: 5px;
			// margin-top: 2px;
			li {
				width: 75px;
				height: 70px;
				border-radius: 6px;
				border: 1.5px solid #91c9c1;
				margin: 4px;
				margin-right: 7px;
				font-size: 10px;
				font-weight: 500;
				display: flex;
				flex-direction: column;
				color: #91c9c1;
				cursor: pointer;
				transition: all 0.15s ease-out;
				.img-container {
					margin-top: 3px;
					display: flex;
					flex: 1;
					align-items: center;
					justify-content: center;
					svg {
						path {
							fill: #91c9c1;
							transition: fill 0.15s ease-out;
						}
					}
				}
				img {
					max-height: 38px;
					max-width: 44px;
				}
				.label-container {
					margin-top: auto;
					line-height: 10px;
					min-height: 16px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: center;
					margin-bottom: 3px;
				}
				&:hover {
					color: #ffb800;
					border-color: #ffb800;
					.img-container svg path {
						fill: #ffb800;
					}
				}
				&.selected {
					background-color: #91c9c1;
					border: 3px solid #fff;
					color: #fff;
					transform: scale(1.1);
					filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
					.img-container {
						svg {
							path {
								fill: #ffffff;
							}
						}
					}
				}
			}
		}
		.ant-btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 73px;
			height: 73px;
			background: #ffffff;
			border: 1.5px solid #475657;
			box-shadow: 2px 2px 0px rgba(240, 200, 182, 0.2);
			filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
			border-radius: 4px;
			cursor: pointer;
			svg {
				// width: 21px;
				// height: 21px;
				margin-bottom: 11px;
			}
			span {
				font-weight: 400;
				font-size: 10px;
				line-height: 11px;
				text-align: center;
				text-transform: capitalize;
				color: #475657;
			}
			&:hover {
				// color: #ffffff;
			}
			&.selected {
				svg {
					path {
						stroke: #475657;
					}
				}
			}
			&.ant-dropdown-open {
				background: #446f78;
				span {
					color: #f0c8b6;
				}
				svg {
					path {
						stroke: #f0c8b6;
					}
				}
			}
			&.location-filter {
				&.selected {
					span {
						color: #475657;
					}
				}
			}
			&.adv-src {
				svg {
					margin-bottom: 8px;
					path {
						stroke: #475657 !important;
					}
					circle {
						stroke: #475657 !important;
					}
				}
				span {
					max-width: 50px;
					display: inline-block;
					white-space: normal;
				}
			}
			&.reset-button {
				display: flex;
				width: auto;
				height: auto;
				flex-direction: revert;
				align-items: center;
				justify-content: center;
				border-radius: 20px;
				border: 1px solid #fff;
				padding: 5px 10px;
				svg {
					margin-bottom: 0px;
					width: 15px;
				}
				span {
					font-size: 14px;
				}
			}
		}
		.ant-btn:first-child {
			flex-direction: row;
			width: auto;
			svg {
				transform: translateY(6px);
				path {
					transition: fill 0.15s ease-out;
				}
			}
			span {
				font-size: 12px;
				max-width: 60px;
				line-height: 14px;
				white-space: normal;
				text-align: left;
				font-weight: 500;
				transition: color 0.15s ease-out;
			}
			&:hover {
				span {
					color: #ffb800;
				}
				svg path {
					fill: #ffb800;
				}
			}
		}
		.ant-btn:last-child {
			margin-left: auto;

			path {
				// stroke: #fff;
			}
		}
		.filter-status {
			position: absolute;
			background-color: #e91a08;
			color: white;
			font-weight: 700;
			height: 20px;
			border-radius: 50%;
			top: 5px;
			right: 5px;
			font-size: 10px;
			line-height: 20px;
			padding: 0 2px;
			min-width: 20px;
			text-align: center;
			transform: translateX(-50%);
		}
	}
}

.filterModal {
	width: 100% !important;

	@media screen and (min-width: 840px) {
		max-width: 823px;
	}

	:global {
		.ant-modal-header {
			.ant-modal-title {
				font-weight: 600;
				font-size: 18px;
				line-height: 26px;
				color: #a5b0c9;
				text-transform: uppercase;
			}
		}
		.ant-modal-body {
			padding: 17px 80px 50px 80px;
			.filter-title {
				color: #000;
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 5px;

				@media (max-width: 540px) {
					font-size: 16px;
				}
			}
			.ant-select-selection-placeholder {
				font-weight: 500;
			}
			.search-input {
				width: 100%;
				:global(.input-search) {
					background-color: rgba(71, 86, 87, 0.1);
					border: none !important;
					height: 34px;
					input {
						font-weight: 500;
						color: #a5b0c9;
						font-size: 16px;
						// background-color: rgba(71, 86, 87, 0.1);
						border: none;
						&::placeholder {
							font-weight: 500;
							color: #a5b0c9;
						}
					}
					.anticon-search {
						color: #a5b0c9;
					}
				}
			}
			input {
				font-weight: 500;
				color: #a5b0c9;
				&::placeholder {
					font-weight: 500;
					color: #a5b0c9;
				}
			}
			.date-picker-container {
				.ant-row {
					width: auto !important;
				}
				:global(.ant-picker) {
					width: 100%;
					border: none;
					background-color: rgba(71, 86, 87, 0.1);
					input {
						font-size: 16px;
						color: rgba(24, 22, 47, 0.37);
						&::placeholder {
							font-size: 16px;
							color: rgba(24, 22, 47, 0.37);
						}
					}
				}
			}
			.select-filter {
				background: rgba(71, 86, 87, 0.03);
				border: 1px solid rgba(71, 86, 87, 0.1);
				border-radius: 10px;
				width: 100%;
				padding: 20px;
			}
		}

		.ant-modal-footer {
			background: #ffffff;
			box-shadow: 0px -2px 2px rgba(24, 22, 47, 0.3);
			border-radius: 0px 0px 10px 10px;
			padding: 20px;
			text-align: center;
			button {
				font-weight: 400;
				font-size: 12px;
				line-height: 17px;
				text-align: center;
				text-transform: uppercase;
				background-color: transparent;
				color: #475657;
			}
			.apply-button {
				border: 1px solid #475657;
				border-radius: 30px;
				background-color: transparent;
				padding: 5px 30px;
			}
			.clear-button {
				background-color: transparent;
				border: none;
			}
		}

		@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
			.ant-modal-body {
				padding: 17px 20px 30px 20px;
			}

			.invite-expert-buttons {
				margin-top: 30px;
			}
			.ant-modal-header {
				padding: 10px 20px;
			}
		}
	}
}
