.contact-modal {
  width: 100% !important;

  @media screen and (min-width: 840px) {
    max-width: 800px;
  }
  .ant-modal-content {
    border-radius: 10px;
    .ant-modal-header {
      border-radius: 10px 10px 0 0;
      .ant-modal-title {
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #475657;
      }
    }
    .ant-modal-body {
      padding: 50px 40px 50px 40px;
      width: 80%;
      margin: 0 auto;
      input {
        background: rgba(71, 86, 87, 0.1) !important;
        border-radius: 5px;
        border: none;
        padding: 10px 11px;
      }
      textarea {
        background: rgba(71, 86, 87, 0.1) !important;
        border-radius: 5px;
        border: none;
        padding: 10px 11px;
      }
      .ant-form-item-explain {
        margin-bottom: 5px;
      }
      .ant-form {
        width: 100%;
      }
    }

    .ant-modal-footer {
      background: #ffffff;
      box-shadow: 0px -2px 2px rgba(240, 200, 182, 0.2);
      border-radius: 0px 0px 10px 10px;
      padding: 30px 20px;
      text-align: center;
      button {
        font-weight: 400;
        font-size: 12px;
        height: auto;
        text-align: center;
        text-transform: uppercase;
        background-color: transparent;
        color: #475657;
      }
      .submit-button {
        border: 1px solid #475657;
        border-radius: 30px;
        background-color: transparent;
        padding: 5px 30px;
      }
      .clear-button {
        background-color: transparent;
        border: none;
      }
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      .ant-modal-body {
        padding: 17px 20px 30px 20px;
      }

      .invite-expert-buttons {
        margin-top: 30px;
      }
      .ant-modal-header {
        padding: 10px 20px;
      }
    }
  }
}
