@import '../../vars.scss';

.learning-centre {
    padding: 110px 200px;
    padding-top: 140px;

    h1 {
        font-size: 38px;
        font-weight: 600;
        font-family: var(--font-archia), sans-serif;
        color: #000;
    }

    .category-dropdown {
        .ant-select-selector {
            border: none;
            height: auto;
            border-radius: 4px;

            .ant-select-selection-search-input {
                height: 100%;
            }

            .ant-select-selection-item {
                color: $green07;
                font-family: var(--font-archia), sans-serif;
                font-weight: 700;
                height: 40px;
                line-height: 40px;
            }

            .ant-select-selection-item-content {
                text-transform: uppercase;
            }
        }
    }

    .header {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: $bpMobile) {
            flex-direction: column;
        }

        .filter {
            @media screen and (max-width: $bpMobile) {
                width: 100%;
            }
        }

        .ant-select {
            width: 300px;
            margin-top: 0;
            border: 1px solid $green07;
            border-radius: 4px;

            .ant-select-selection-placeholder {
                color: $green07;
                font-family: $ff1;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            .ant-select-selector {
                box-shadow: none !important;
            }

            @media screen and (max-width: $bpMobile) {
                width: 100%;
                margin-top: 20px;
            }
        }

        .categories {
            @media screen and (max-width: $bpMobile) {
                width: auto;
                display: grid;
            }

            ul {
                border: 1px solid $green07;
                border-radius: 4px;
                display: inline-block;
                white-space: nowrap;
                overflow-x: auto;
                padding: 0;

                margin: 0;

                li {
                    display: inline-flex;
                    padding: 10px 14px;
                    border-right: 1px solid $green07;
                    font-size: 16px;
                    line-height: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: var(--font-archia), sans-serif;
                    color: $green07;
                    cursor: pointer;

                    &:last-child {
                        border-right: none;
                    }

                    &.selected,
                    &:hover {
                        background-color: $green07;
                        color: white;
                    }
                }
            }
        }
    }

    .ant-select-clear {
        background-color: transparent;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 18px;
        height: 18px;
        margin-top: -9px;
        opacity: 1;

        svg {
            path {
                stroke: #000;
            }
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

    .masonry-grid {
        padding: 40px 0px;

        @media screen and (max-width: $bpMobile) {
            column-count: 1;
        }

        .learning-centre-card {
            box-shadow: 0px 4px 27px rgba(0, 0, 0, 0.15);
            background: #fff;
            border-radius: 8px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            height: fit-content;
            color: $primaryDarkBlue;
            width: 100%;

            img {
                width: 100%;
                height: auto;
                display: block;
            }

            .content {
                padding: 25px;

                .category {
                    font-size: 16px;
                    font-weight: 700;
                    color: $green07;
                    font-family: var(--font-archia), sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 5px;
                }

                h2 {
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: 600;
                    color: #000;
                    padding: 4px 0px;
                    font-family: var(--font-archia), sans-serif;
                    margin-bottom: 15px;
                }

                .description {
                    font-size: 14px;
                    font-family: var(--font-archia), sans-serif;
                    margin-bottom: 10px;
                }

                .tags {
                    padding: 10px 0px;
                    display: flex;
                    gap: 10px;
                    flex-wrap: wrap;

                    span {
                        display: block;
                        padding: 8px 12px;
                        border-radius: 20px;
                        font-size: 12px;
                        line-height: 14px;
                        color: #000;
                        border: 2px solid #00000066;
                        text-transform: uppercase;
                        font-weight: 700;
                    }
                }
            }
        }

    }
}