@import "antd/dist/antd.css";

body,
button,
a,
i,
input,
::placeholder,
.ant-input::-webkit-input-placeholder {
	font-family: "Jost", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
	background-color: #fafafa;
}

ul {
	list-style: none;
	padding: 0;
}

.ui.container {
	margin: 0 50px;
}

.resource-card {
	transition: all ease-out 0.2s;
	position: relative;
	width: 150px;
	height: 192px;
	margin-left: 19px;
	margin-bottom: 0;
	padding: 0 !important;
	.description-holder {
		transition: all ease-out 0.2s;
		position: absolute;
		display: flex;
		opacity: 0;
		flex-direction: column;
		justify-content: space-between;
		padding: 13px;
		background-color: #fff;
		height: 100%;
		min-height: 192px;
		border-radius: 5px;
		width: 100%;

		h3 {
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			max-height: 70px;
			overflow: hidden;
		}
		h4 {
			color: #bbbbbb;
			font-weight: 400;
			font-size: 10px;
			line-height: 17px;
			text-transform: uppercase;
		}

		.ant-avatar-circle {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.bottom-panel {
			.read-more {
				font-weight: 500;
				font-size: 10px;
				color: #34a6ff;
			}
		}
	}
	.thumb-container {
		height: 100%;
		background-color: #fff !important;
		border-radius: 0 !important;
		img {
			width: 100%;
			height: fit-content;
			align-self: center;
			height: 100%;
			object-fit: cover;
			border-radius: 5px;
		}
	}
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
	&:hover {
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		z-index: 9999;
		transform: scale(1.23) translateY(-5px);
		.description-holder {
			opacity: 1;
		}
	}
}

.location-filter-dropdown {
	max-height: 300px;
	background-color: #ffffff;
	width: 400px;
	padding: 20px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	.ant-tabs {
		background: rgba(255, 255, 255, 0.05);
		box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
		border-radius: 5px;
		.ant-tabs-nav-list {
			width: 100%;
			.ant-tabs-tab {
				flex: 0 0 50%;
				margin-left: 0 !important;
				border: none;
				background: #d9e7f0;
				padding: 10px 16px;
				border-radius: 0px;
				&:first-child {
					border-radius: 5px 0px 0px 0px;
				}
				&:nth-child(2) {
					border-radius: 0px 5px 0px 0px;
				}
				&.ant-tabs-tab-active {
					background-color: #ffffff;
				}
				.ant-tabs-tab-btn {
					font-weight: 500;
					font-size: 16px;
					line-height: 14px;
					color: #000000;
				}
			}
		}
		.ant-tabs-nav {
			&::before {
				border: none;
			}
			padding-bottom: 10px;
			margin-bottom: 0px;
		}
		.ant-select {
			width: 100%;
		}
		.ant-tabs-content-holder {
			padding: 10px;
		}
	}
}

.swiper {
	padding-bottom: 33px !important;
	padding-left: 25px;
	padding-right: 25px;
	.swiper-pagination {
		position: absolute;
		bottom: 0px !important;
	}
	.swiper-button-next,
	.swiper-button-prev {
		transform: translateY(-10px);
	}
	.swiper-button-disabled {
		opacity: 0 !important;
	}
}

.swiper-pagination-bullet-active {
	background-color: #ffb800 !important;
}
.swiper-button-prev,
.swiper-button-next {
	color: #ffb800 !important;
}
