$primary: #436f79;
$secondary: #91cac1;
$tertiary: #475657;
$accent: #f0c8b6;

$primaryColor: #00aaf1;
$black: #18162f;
$yellow: #ffb800;
$yellow-highlight: rgba(255, 184, 0, 0.65);
$green02: #039b78;
$green03: #00585f;
$green04: #135c72;
$green05: #1ca585;
$green06: #10f9b7;
$green07: #357079;
$green0: #91C9C147;
$green01: #DAF9F4;
$lightGreen: #C6E3DE;
$lightGreen01: #DAF9F4B2;
$darkGreen: #162F33;
$darkGreenBlue400: #5D8D94;
$darkGreenBlue100: #91CAC1;
$darkBlue03: #99A0B7;

$blue01: #00aeef;
$blue02: #09689a;
$blue03: #384e85;
$blue04: #34a6ff;
$blue05: #327b8c;
$blue06: #255b87;
$blue07: #036799;
$blue08: #1890ff;
$blue09: #5991be;
$blue10: #2d6796;
$blue11: #374a59;
$blue12: #18162f;

$primaryDark: #000647;
$primaryDarkBlue: #020A5B;

$grey01: #d3dee7;
$grey02: #e9eff3;
$grey03: #bbbbbb;
$grey04: #a5b0c9;
$grey05: #edf2f7;

$orange01: #F0C8B6;
$orange02: #E8A384;
$orange03: #F1C7B780;
$orange04: #F1C7B7;

$bg-dark-primary: #005b70;
$bg-course-n-training: #1f213d;
$bg-tools-n-resources: #6d3c3c;
$bg-education-n-outreach: #2b4937;
$bg-case-studies: #89662c;
$bg-events: #5f4373;

$inputBg: #F4FFFD;


$bpMobile: 768px;