@import './vars.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

#landing {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100vh);
	background: url(../public/waves.svg) repeat center #357079;
	color: white;
	font-size: 14px;
	a {
		text-decoration: underline;
	}
}

.topbar {
	background: url(../public/waves.svg) repeat center #357079;
	height: 110px;
	display: flex;
	align-items: center;
	.container {
		display: flex;
		nav {
			display: flex;
			color: white;
			margin-left: 40px;
			margin-top: 10px;
			a {
				text-decoration: underline;
			}
		}
	}
}

.resource-card {
	transition: all ease-out 0.2s;
	position: relative;
	width: 150px;
	height: 192px;
	margin-left: 19px;
	margin-bottom: 0;
	padding: 0 !important;
	.description-holder {
		transition: all ease-out 0.2s;
		position: absolute;
		display: flex;
		opacity: 0;
		flex-direction: column;
		justify-content: space-between;
		padding: 13px;
		background-color: #fff;
		height: 100%;
		min-height: 192px;
		border-radius: 5px;
		width: 100%;

		h3 {
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			max-height: 70px;
			overflow: hidden;
		}
		h4 {
			color: #bbbbbb;
			font-weight: 400;
			font-size: 10px;
			line-height: 17px;
			text-transform: uppercase;
		}

		.ant-avatar-circle {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.bottom-panel {
			.read-more {
				font-weight: 500;
				font-size: 10px;
				color: #34a6ff;
			}
		}
	}
	.thumb-container {
		height: 100%;
		background-color: #fff !important;
		border-radius: 0 !important;
		span {
			position: inherit !important;
			display: contents !important;
			img {
				width: 100%;
				height: fit-content;
				align-self: center;
				height: 100%;
				object-fit: cover;
				border-radius: 5px;
				position: inherit !important;
			}
		}
	}
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	overflow: hidden;
	z-index: 1;
	&:hover {
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		z-index: 9999;
		transform: scale(1.23) translateY(-5px);
		.description-holder {
			opacity: 1;
		}
	}
}
.container {
	margin: 0 50px;
	@media screen and (min-width: 1500px) {
		width: 1440px;
		margin: 0 auto;
	}
}

.list-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	padding: 0 25px;
	.page-label {
		background-color: rgba(211, 222, 231, 0.5);
		border-radius: 10px;
		color: #18162f;
		font-size: 12px;
		padding: 9px;
	}
	.view-button {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-radius: 30px;
		font-weight: 500;
		font-size: 10px;
		line-height: 10px;
		text-align: center;
		color: $blue06;
		max-width: 98px;
		background-color: unset;
		border: 1px solid $blue06;
		min-height: 32px;
		cursor: pointer;
		transition: all 0.15s ease-out;
		&:hover {
			background-color: $blue06;
			color: #fff;
			// border: 1px solid #fff;
			.transnational-icon path {
				stroke: #fff;
			}
		}
		.view-button-text {
			margin-right: 7.11px;
			text-transform: uppercase;
			word-wrap: break-word;
		}
		svg {
			width: 22px;
			height: 22px;
		}
		.transnational-icon {
			width: 100%;
			max-width: 22px;
			path {
				stroke-width: 3px;
			}
		}
	}
	.sort-by-button {
		display: flex;
		align-items: center;
		color: #475657;
		font-weight: 400;
		font-size: 12px;
		border: unset;
		background-color: unset;
		cursor: pointer;
		svg {
			width: 32px;
			height: 32px;
			margin-right: 7px;
			transition: all 0.15s ease-out;
		}
		.sort-button-text {
			display: flex;
			flex-direction: column;
			text-transform: uppercase;
		}
	}
}
